body
{
    margin: 0px;
    padding: 0px;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px; 
}

#welcome
{
    text-align: center;
}

button
{
   
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px; 
}

#leftdiv
{
    height: 100px;
    width: 48%;
    float: left;
}

#rightdiv
{
    height: 100px;
    width: 48%;
    float: right;
}

#outerdiv
{
    height: 100px;
    width: 48%;
    margin: 0px auto;
    padding: 5px;
}