body
{
    margin: 0px;
    padding: 0px;
    background: url("background.jpg") no-repeat;
	background-size: cover;
}

.index-form, .signup-form, .login-form
{
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(101,102,114,0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 05px;
}  

.index-form img, .signup-form img, .login-form img, 
{
    width: 50%;
    height: 50%;
}

.index-form input, .signup-form input, .login-form input, .topnav input
{
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 44px; 
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;   
}


.txt
{
    margin: 20px 0px;
    border-radius: 05px;
}

.btn
{
    margin-top: 60px;
    margin-bottom: 20px;
    background: #487eb0;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.8s;
}


.red-text
{
    color:red;
    margin: 20px 0px;
    border-radius: 05px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;   
}


.topnav
{
    width: 150px;
    padding: 10px;
    text-align: left;
    background: rgba(101,102,114,0.7);
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 05px;
}

.topnav img
{
    width: 50%;
    height: 50%;
}

.topnav input
{
    display: block;
    width: 100%;
    padding: left;
    height: 20px; 
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;   
}